<html>  
  <head>
    <title>ReadTxT - 用户管理</title>
    <meta name="viewport" content="width=device-width" />   
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>  
  
  <body>
    <p>
      <a href="/admin ">管理员首页</a>
      <a href="/admin/users">用户管理</a>
      <a href='/admin/books'>书籍管理</a>      
    </p>
    

    <table>
      {% for user in all_users %}      
        <tr>
          <td><b>{{ user.username }}</b></td>
          <td>书签数: {{ user.bookmark_number }}</td>
          <td style="width:1em;"></td>
          <td><a href="{{ user.delete_link }}">删除</a></td>
        </tr>
        <tr style="height:1em;"></tr>
      {% endfor %}
    </table>

  

    
  </body>
</html>