<html>
  <head>
    <title>{{ book.title }} - {{ book.chapter_title}}</title>
    <meta name="viewport" content="width=device-width" />   
    <link rel="shortcut icon" href="/favicon.ico" />   
    <link rel="stylesheet" href="/iphone.css"/>
  </head> 

  <script src="/iphone.js" type="text/javascript" language="javascript" />
    
  <body>
  
  <p>
    <a href="/">首页</a>
    <a href="{{ book.update_link }}">更新</a>
    <a href="{{ book.catalog_link }}">目录</a>
  </p>

  <p><b>{{ book.title }}</b> - {{ chapter.chapter_title}}</p>
  
  <p>
    {% if book.prev_link %}
      <a href="{{ book.prev_link }}">上章</a> 
    {% else %}
      上章
    {% endif %}
    {% if book.next_link %}
      <a href="{{ book.next_link }}">下章</a> 
    {% else %}
      下章
    {% endif %}
  </p>
  <div id='content_box'>
    {{ content }}
  </div>
  <p>
    <a href="/">首页</a>
    {% if book.prev_link %}
      <a href="{{ book.prev_link }}">上章</a> 
    {% else %}
      上章
    {% endif %}
    {% if book.next_link %}
      <a href="{{ book.next_link }}">下章</a> 
    {% else %}
      下章
    {% endif %}
  </p>
  </body>
</html>