<html>
  <head>
    <title>{{ book.title }} - {{ book.chapter_title}}</title>
    <meta name="viewport" content="width=device-width" />   
    <link rel="shortcut icon" href="/favicon.ico" />   
    <link rel="stylesheet" href="/iphone.css"/>
    <script src="/iphone_read.js" type="text/javascript" language="javascript" />
  </head>       
  <body>
    <div id="header"> 
			<div class="left"><a onclick="window.location='/'">首页</a></div>
      <div class="right">
        <a onclick="window.location='{{ book.catalog_link }}'">目录</a>
        <a onclick="window.location='{{ book.update_link }}'">书签</a>      
        <a onclick="window.location='/help'">帮助</a>
      </div>       
		</div>       
    <p><b>{{ book.title }}</b> - {{ chapter.chapter_title}}</p>    
    <p>
      {% if book.prev_link %}
        <a onclick="window.location='{{ book.prev_link }}'">上章</a>
      {% else %}
        上章
      {% endif %} |
      {% if book.next_link %}
        <a onclick="window.location='{{ book.next_link }}'">下章</a> 
      {% else %}
        下章
      {% endif %}
    </p>
    <div id='content_box'>
      {{ content }}
    </div>
    <p>
      <a onclick="window.location='/'">首页</a> |
      {% if book.prev_link %}
        <a onclick="window.location='{{ book.prev_link }}'">上章</a>
      {% else %}
        上章
      {% endif %} |
      {% if book.next_link %}
        <a onclick="window.location='{{ book.next_link }}'">下章</a> 
      {% else %}
        下章
      {% endif %}
    </p>
  </body>
</html>